{% extends 'base.html.twig' %}

{% block title %}Accueil GsbVeto{% endblock %}

{% block body_id%}home{% endblock %}

{% block body %}

<p>GSBVeto - Suivi des objectifs commerciaux affectés aux vétérinaires</p>

{% endblock %}
