{% extends 'base.html.twig' %}

{% block title %}Nouvelle Activité{% endblock %}

{% block body %}
    <h1>Crée une nouvelle Activité</h1>

    {{ include('activity/_form.html.twig') }}

    <a href="{{ path('app_activity_index') }}">retour</a>
{% endblock %}
