{% extends 'base.html.twig' %}

{% block title %}Les vétérinaires{% endblock %}

{% block body %}

                <h1>Liste des vétérinaires</h1>
                    <p class="text-center padding-tb-10">
        <a href="" class="btn btn-info">
        <i class="bi bi-plus"></i>
        Nouveau
        </a>
        </p>
        <table class="table">
        <thead>
        <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Adresse</th>
        <th>CP</th>
        <th>Ville</th>
        <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for veto in lesVetos %}
        <tr>
        <td><a href="">{{ veto.id }}</a><td>
        <td> à compléter </td>
        <td> à compléter </td>
        <td> à compléter </td>
        <td> à compléter </td>
        <td>
        <a href="">voir</a>&nbsp;
        <a href="">éditer</a></li>
        </td>
        </tr>
        {% else %}
        <tr><td colspan="6">Aucun vétérinaire !</td></tr>
      {% endfor %}
        </tbody>
      </table>
{% endblock %}