    {% extends 'base.html.twig' %}
        {% block title %}Indicateurs{% endblock %}
        {% block body %}
        <h1>Indicateurs</h1>
            <table class="table mt-5 w-50">
                <thead>
                <tr>
                <th>Nom</th>
                <th>Valeur</th>
                      </tr>
                       </thead>
                        <tbody>
                        <tr>
                        <td>Nombre total de vétérinaires</td>
                        <td>{{ newVetsNumber }}</td>
                        </tr>
                        <tr>
                        <td>Nombre de nouveaux vétérinaires (enregistrés dans le mois)</td>
                        <td>{{ vetsNumber }}</td>
                </tr>
                </tbody>
                </table>
                <ul class="liens list-unstyled mt-3">
                <li>
                <a class="mb-3" href="{{ path('app_veterinary_index') }}">
                <i class="bi bi-chevron-left"></i>
                &nbsp;Retour à la liste des vétérinaires
                </a>
            </li>
            </ul>
    {% endblock %}
